[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-bootstrap4 = "*"
mysqlclient = "*"
pillow = "*"
bootstrap4 = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.12"
